#!/bin/sh
# vim: ts=4:et:sts=4
# $Id: dictd.config 80 2008-12-31 10:43:13Z robert $
set -e 


# Source debconf library.
. /usr/share/debconf/confmodule

CONFIGFILE=/etc/default/dictd
RUN_MODE=dictd

[ -f "$CONFIGFILE" ] && . "$CONFIGFILE"

# preserve user changes in the config file
if [ "x$RUN_MODE" = "xdaemon" ] ; then
	db_set dictd/run_mode daemon
else
	db_set dictd/run_mode inetd
fi

db_input medium dictd/run_mode || true
db_go || true
