#!/bin/sh
# vim: ts=4:et:sts=4
set -e

# Source debconf library.
. /usr/share/debconf/confmodule

INITFILE=/etc/init.d/dictd
CONFIGFILE=/etc/default/dictd
RUN_MODE="<not set in config file>"

if [ -f "$CONFIGFILE" ]; then
    . "$CONFIGFILE"

    # preserve user changes from the config file
    case "$RUN_MODE" in
        daemon|inetd|disabled)
            db_set dictd/run_mode "$RUN_MODE"
            ;;
        "<not set in config file>")
            ;;
        *)
            db_set dictd/run_mode "daemon"
            ;;
    esac
fi


db_input medium dictd/run_mode || true
db_go || true

# Make dpkg-reconfigure stop the dictd server before
# /etc/default/dictd is modified by the postinst script.
if [ "$1" = "reconfigure" ] && [ "$RUN_MODE" = "daemon" ] \
   && [ -x "$INITFILE" ] && which invoke-rc.d >/dev/null; then
    invoke-rc.d dictd stop >&2 || echo "Warning: failed to stop dictionary server" >&2
fi
