#!/usr/bin/make -f
# 
# $Id: rules 24 2008-01-20 10:15:09Z robert $
# 
# Uncomment this to turn on verbose mode. 
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
#
# Configuration variables (these should be pretty generic)
CC = cc
CFLAGS=  -O2
# LDFLAGS = -s
PREFIX = /usr
BINDIR = $(PREFIX)/bin
MANDIR = $(PREFIX)/share/man
MAN1DIR = $(MANDIR)/man1
DOCDIR = $(PREFIX)/share/doc/$(pkg)

#  Package specific stuff.  The idea is to try to make the rules
#  generic (gradually).

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif


install_file= install -p -o root -g root -m 644
install_binary= install -p -o root -g root -m 755
install_script= install -p -o root -g root -m 755
make_directory= install -d -o root -g root -m 755

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
install_binary += -s
endif

build: autotools patch configure-stamp build-stamp
# Builds the binary package.


configure: autotools patch configure-stamp build-stamp


include /usr/share/quilt/quilt.make



autotools: autotools-clean
	tar cvzf configs.tgz  config.sub config.guess libmaa/config.guess libmaa/config.sub
	rm -f config.sub config.guess libmaa/config.guess libmaa/config.sub
	ln -s /usr/share/misc/config.sub config.sub
	ln -s /usr/share/misc/config.guess config.guess
	ln -s /usr/share/misc/config.sub libmaa/config.sub
	ln -s /usr/share/misc/config.guess libmaa/config.guess

autotools-clean:
	if [  -f configs.tgz ] ; then \
		set -e ; \
		rm -f config.sub config.guess libmaa/config.sub libmaa/config.guess ; \
		tar xvzf configs.tgz ; \
		rm -f configs.tgz ; \
	fi

	


configure-stamp: 
	dh_testdir

	./configure  	--verbose \
			--prefix=$(PREFIX) \
			--libexecdir=/usr/lib/dictd \
			--datadir=/usr/share/dictd \
			--sysconfdir=/etc/dictd 
	touch "$@"

build-stamp: 
	dh_testdir

## Upstream Makefile uses different values for CFLAGS for differnt
## compile statements.  It seems simpler to leave CFLAGS up to the
## Makefile.

	$(MAKE) CC="$(CC)" LDFLAGS="$(LDFLAGS)"

	$(MAKE) CFLAGS+='-fPIC -D_REENTRANT' samples

	touch "$@"

clean: unpatch autotools-clean
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp

	test ! -f Makefile || $(MAKE) recursive-clean
	test ! -f Makefile || $(MAKE) distclean
	rm -f core `find . \( -name '*.orig' -o -name '*.rej' -o -name '*~' \
		-o -name '*.bak' -o -name '#*#' -o -name '.*.orig' \
		-o -name '.*.rej' -o -name '.SUMS' -o -size 0 \) -print` TAGS

	rm -f libmaa/arggram2c

	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	#$(MAKE) prefix=`pwd`/debian/tmp/usr install

	dh_install

# This single target is used to build all the packages, all at once, or
# one at a time. So keep in mind: any options passed to commands here will
# affect _all_ packages. Anything you want to only affect one package
# should be put in another target, such as the install target.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs -k NEWS
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
	dh_installinit
	dh_installman
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_undocumented
	dh_strip
	dh_link
	dh_compress
	dh_fixperms

	rm -f debian/dictd/usr/share/doc/dictd/examples/example.dictrc
	find debian -mindepth 6 -maxdepth 7 -path "*/usr/share/doc/*" \
		'!' -name "*.gz" -name "README.*" -exec gzip -9 {} \;
	find debian -mindepth 4 -maxdepth 5 -path "*/dictd/etc/dictd/*" \
		-name dictdconfig.alias -exec chmod 755 {} \;

	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture independant packages using the common target.
binary-indep: build install
# (Uncomment this next line if you have such packages.)
#	 $(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

# Any other binary targets build just one binary package at a time.
binary-%: build install
	make -f debian/rules binary-common DH_OPTIONS=-p$*

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary-common binary install
